* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: darkslategrey;
}
.card {
  width: 320px;
  height: 200px;
  border: 1px solid darkslategrey;
  box-shadow: -1.3px 1.3px black;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  background-image: linear-gradient(70deg, black, grey, black)

}
.card_type {
  position: absolute;
  top: 15px;
  left: 11px;
  color: white;
}
.circuit {
  position: absolute;
  top: 60px;
  left: 30px;
  margin: auto;
  border: 1px solid gold;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  background-color: gold;
}
.line1 {
  width: 23px;
  border-top: 1px solid black;
  position: absolute;
  top: 10px;
}
.line2 {
  width: 23px;
  border-top: 1px solid black;
  position: absolute;
  top: 20px;
}
.line3 {
  height: 11px;
  border-left: 1px solid black;
  position: absolute;
  left: 23px;
  transform: rotate(20deg);
}
.line4 {
  height: 5px;
  border-left: 1px solid black;
  position: absolute;
  top: 10px;
  left: 23px;
  transform: rotate(-20deg);
}
.line5 {
  height: 5px;
  border-left: 1px solid black;
  position: absolute;
  top: 15px;
  left: 23px;
  transform: rotate(20deg);
}
.line6 {
  height: 11px;
  border-left: 1px solid black;
  position: absolute;
  bottom: 0px;
  left: 23px;
  transform: rotate(-20deg);
}
.line7 {
  height: 11px;
  border-left: 1px solid black;
  position: absolute;
  bottom: 0px;
  right: 15px;
  transform: rotate(20deg);
}
.line8 {
  width: 15px;
  border-top: 1px solid black;
  position: absolute;
  top: 20px;
  right: 0px;
}
.line9 {
  width: 15px;
  border-top: 1px solid black;
  position: absolute;
  top: 10px;
  right: 0px;
}
.line10 {
  height: 9px;
  border-left: 1px solid black;
  position: absolute;
  top: 0px;
  right: 15px;
  transform: rotate(-20deg);
}
.bank-name {
  position: absolute;
  top: 62px;
  right: 15px;
  color: white;
}
.reward {
  position: absolute;
  top: 90px;
  left: 130px;
  color: #ccc;
}
.card-num {
  position: absolute;
  bottom: 20px;
  left: 30px;
  letter-spacing: 2px;
  color: gold;
  text-shadow: 2px -2px 1px black;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
span {
  margin: 0px 5px;
}
.card-name {
  position: absolute;
  bottom: 20px;
  right: 15px;
  color: #ccc;
}
.p {
position: absolute;
bottom: 5px;
right: 15px;
color: #ccc;
letter-spacing: 2px;
}
img {
  width: 55px;
  position: absolute;
  top: 10px;
  right: 10px;
}
